@{
    ViewData["Title"] = "About Us";
    ViewData["Description"] = "Find out a little more about our history, our values and our skilled team of wood enthusiasts.";
    ViewData["Keywords"] = "of woodwork, of woodwork Services, Joinery, Joinery Services, Woodwork, Dorset Routing, UK Routing, About, About Mandeville, About Mandeville Joinery, Mandeville Joinery History, Values";
    ViewData["CanonicalUrl"] = Url.Action("AboutUs", "Home");
}

<section class="mdv-page-header" style="background-image: url('/images/bg2.jpg')">
    <div class="mdv-page-header-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>About Us.</h1>
                    <h4>Find out a little more about our history, our values and our skilled team of wood enthusiasts.</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mdv-page-content">
    <div class="container-fluid">
        <div class="well">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p class="lead text-center mdv-paragraph-header">
                        Our passion is creating well crafted timber products that we know will be around for years to come. Whether we're
                        working with private clients, architects or contractors, the service is the same. We will deal with each job, small or
                        large in a personal yet professional fashion.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="text-center">Our History</h2>
                    <p class="text-center">
                        Established in 1999, Mandeville Joinery has produced fine furniture, architectural joinery and
                        undertaken restoration projects for customers all over England. We have always prided
                        ourselves on balancing traditional techniques with modern design. From timber frame
                        construction to designing and making contemporary furniture, Mandeville Joinery has the
                        skills and resources to see your project from idea, through design to manufacture and
                        installation.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="text-center">Our Values</h2>
                    <p class="text-center">
                        We are committed to offering an environmentaly responsible service using sustainable resources from local suppliers 
                        where possible. Almost all of our materials are FSC certified, ensuring they come from a responsibly managed source. 
                        We are doing our best to ensure our products are not only easy on the eye but kind to nature. We take our green 
                        credentials very seriously and have setup various waste management initiatives such as recycling and distributing 
                        our surplus materials to other local businesses.
                    </p>
                </div>
                
                <div class="col-sm-4">
                    <div class="mdv-info-block">
                        <i class="material-icons icon-success">beenhere</i>
                        <h4>Quality</h4>
                        <p>
                            We believe quality and excellence start from the ground up and it is ingrained in the mindset of our business.
                            All of our working practices are subject to strict quality controls and we are proud of our craftmanship.
                        </p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="mdv-info-block">
                        <i class="material-icons icon-warning">public</i>
                        <h4>Sustainability</h4>
                        <p>
                            We always intend to source our materials in a sustainable way and where possible we use local suppliers.
                        </p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="mdv-info-block">
                        <i class="material-icons icon-info">sentiment_very_satisfied</i>
                        <h4>Service</h4>
                        <p>
                            Mandeville is highly regarded by its customers and peers and we believe that is in part down to our
                            unique, professional yet personal service. We will not rest until our customer is entirely satisfied.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="text-center">Our Team</h2>
                    <p class="text-center">
                        We like to think of ourselves as a little different to your average business in our sector which is driven 
                        by our unique team of forward thinking, like minded individuals who work to the same high standards and 
                        share a common love of all things wood.
                    </p>
                </div>
                
                <div class="col-sm-6 col-md-3">
                    <div class="mdv-card">
                        <div class="mdv-card-avatar">
                            <img class="img" src="@Url.Content("~/images/aboutus-charlie.jpg")">
                        </div>

                        <div class="mdv-card-content">
                            <h4>Charlie</h4>
                            <h6 class="category text-muted">CEO / Co-Founder</h6>
                            <p class="text-muted">Our workshop captain, who will not rest until quality and craftmanship prevails.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="mdv-card">
                        <div class="mdv-card-avatar">
                            <img class="img" src="@Url.Content("~/images/aboutus-pete.jpg")">
                        </div>

                        <div class="mdv-card-content">
                            <h4>Peter</h4>
                            <h6 class="category text-muted">CEO / Co-Founder</h6>
                            <p class="text-muted">Plotting, planning, brains and vision, Peter is the driving force behind our business.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="mdv-card">
                        <div class="mdv-card-avatar">
                            <img class="img" src="@Url.Content("~/images/aboutus-duncan.jpg")">
                        </div>

                        <div class="mdv-card-content">
                            <h4>Duncan</h4>
                            <h6 class="category text-muted">Senior Wood Specialist</h6>
                            <p class="text-muted">
                                Duncan is the backbone to Mandeville and has been turning designs into beautiful, 
                                well-oiled reality for many years.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="mdv-card">
                        <div class="mdv-card-avatar">
                            <img class="img" src="@Url.Content("~/images/aboutus-alex.jpg")">
                        </div>

                        <div class="mdv-card-content">
                            <h4>Alex</h4>
                            <h6 class="category text-muted">Client Relationship Manager</h6>
                            <p class="text-muted">Applying method to the madness, Alex is an essential cog in the Mandeville machine.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="mdv-card">
                        <div class="mdv-card-avatar">
                            <img class="img" src="@Url.Content("~/images/aboutus-niall.jpg")">
                        </div>

                        <div class="mdv-card-content">
                            <h4>Niall</h4>
                            <h6 class="category text-muted">Wood Specialist</h6>
                            <p class="text-muted">
                                Niall is our newest member but has settled in perfectly to team Mandeville. 
                                When he’s not producing beautiful woodwork he’s chasing a football somewhere!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="mdv-card">
                        <div class="mdv-card-avatar">
                            <img class="img" src="@Url.Content("~/images/aboutus-jake.jpg")">
                        </div>

                        <div class="mdv-card-content">
                            <h4>Jake</h4>
                            <h6 class="category text-muted">Wood Specialist</h6>
                            <p class="text-muted">
                                Jake has been part of the Mandeville family since he was 17. He’s progressed from his
                                apprenticeship to become one of our most trusted wood specialists.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="mdv-card">
                        <div class="mdv-card-avatar">
                            <img class="img" src="@Url.Content("~/images/aboutus-morgan.jpg")">
                        </div>

                        <div class="mdv-card-content">
                            <h4>Morgan</h4>
                            <h6 class="category text-muted">Padawan Wood Specialist</h6>
                            <p class="text-muted">
                                Morgan is currently working through his apprenticeship with Mandeville but has already 
                                shown great potential and we look forward to him progressing further alongside us.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="mdv-card">
                        <div class="mdv-card-avatar">
                            <img class="img" src="@Url.Content("~/images/aboutus-jack.jpg")">
                        </div>

                        <div class="mdv-card-content">
                            <h4>Jack</h4>
                            <h6 class="category text-muted">Wood Specialist</h6>
                            <p class="text-muted">
                                Jack has worked alongside Mandeville for the last 5 years. His work rate is second to
                                none and we’re always delighted with his results.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mdv-card">
                        <div class="mdv-card-avatar">
                            <img class="img" src="@Url.Content("~/images/aboutus-chuggy.jpg")">
                        </div>

                        <div class="mdv-card-content">
                            <h4>Chuggy Pig</h4>
                            <h6 class="category text-muted">Team Mascot</h6>
                            <p class="text-muted">Supporting the team and providing back up to Boots when things get ugly.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mdv-card">
                        <div class="mdv-card-avatar">
                            <img class="img" src="@Url.Content("~/images/aboutus-boots.jpg")">
                        </div>

                        <div class="mdv-card-content">
                            <h4>Boots</h4>
                            <h6 class="category text-muted">Team Mascot / Guard Dog</h6>
                            <p class="text-muted">Keeping the workshop safe from intruders with his side kick Chuggy Pig.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="text-center">Work with Us</h2>

                    <div class="row">
                        @Html.Partial("_ContactForm", new MessageModel())
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>