@model QuoteModel

@{
    ViewData["Title"] = "Get a Quote";
    ViewData["Description"] = "Use the form on this page to get a no obligation quote for your project, no matter how large or small your requirements.";
    ViewData["Keywords"] = "CNC Routing, CNC Routing Services, Joinery, Joinery Services, Woodwork, Dorset Routing, UK Routing, CNC Routing Quote, Joinery Quote";
    ViewData["CanonicalUrl"] = Url.Action("GetAQuote", "Home");
}

<section class="mdv-page-header" style="background-image: url('/images/bg5.jpg')">
    <div class="mdv-page-header-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Get a Quote.</h1>
                    <h4>We commit to providing you with a no obligation quote for your project, no matter how large or small your requirements.</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mdv-page-content">
    <div class="container-fluid">
        <div class="well">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p class="lead text-center mdv-paragraph-header">Please complete the form below and one of our friendly team will be in touch shortly.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                     @using (Html.BeginForm())
                     {
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Name, "Your Name", new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                <span asp-validation-for="Name" class="text-danger mdv-form-error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, "Your Email", new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                <span asp-validation-for="Email" class="text-danger mdv-form-error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Telephone, "Your Telephone Number", new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control" })
                                <span asp-validation-for="Telephone" class="text-danger mdv-form-error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.BestContactTime, "The Best Time to Contact You", new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.BestContactTime, new { @class = "form-control" })
                                <span asp-validation-for="BestContactTime" class="text-danger mdv-form-error"></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ProjectDetails, "Your Project Details", new { @class = "control-label" })
                                @Html.TextAreaFor(m => m.ProjectDetails, new { @class = "form-control", rows = "10" })
                                <span asp-validation-for="ProjectDetails" class="text-danger mdv-form-error"></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="g-recaptcha mdv-recaptcha" data-sitekey="@Options.Value.RecaptchaSiteKey"></div>
                        </div>
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-raised btn-primary btn-block-sm pull-right">Send Request</button>
                        </div>
                     }
                </div>
            </div>
        </div>
    </div>
</section>